<!DOCTYPE html>
<html>
<head>
  <title>StockTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav_bar">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
</ul>

<div class="content">
<%= yield %>
</div>
<img alt="wallstreet" src="http://upload.wikimedia.org/wikipedia/commons/e/ea/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg" style="z-index: -1">
</body>
</html>
